// 不定高度的垂直居中
.vertical-middle {
    position: relative;
    display: block!important;
    top: 50%;
    transform: translateY(-50%)
}
.none {
    display: none;
}
.transparent {
    opacity: 0;
}



//动画
@mixin keyframes($animationName) {
    @keyframes #{$animationName} {
        @content;
    }
}

.hidden { //隐藏
  animation: hidden 1.5s ease; 
  animation-fill-mode: forwards;
  @include keyframes(hidden) {
    from {
      opacity: 1;
    }
    to {
      opacity: 0; 
    }
  } 
}

.show { //显示
  animation: show 1.5s ease; 
  animation-fill-mode: forwards;
  @include keyframes(show) {
    from {
      opacity: 0;
    }
    to {
      opacity: 1; 
    }
  } 
}
