// 不定高度的垂直居中
.vertical-middle {
    position: relative;
    display: block!important;
    top: 50%;
    transform: translateY(-50%)
}
.none {
    display: none;
}
.transparent {
    opacity: 0;
}



//动画
@mixin keyframes($animationName) {
    @keyframes #{$animationName} {
        @content;
    }
}

.hidden { //隐藏
  animation: hidden 1.5s ease; 
  animation-fill-mode: forwards;
  @include keyframes(hidden) {
    from {
      opacity: 1;
    }
    to {
      opacity: 0; 
    }
  } 
}

.show { //显示
  animation: show 1.5s ease; 
  animation-fill-mode: forwards;
  @include keyframes(show) {
    from {
      opacity: 0;
    }
    to {
      opacity: 1; 
    }
  } 
}

.showPage { //显示
  animation: showPage 1s ease; 
  animation-fill-mode: forwards;
  @include keyframes(showPage) {
    from {
      opacity: 1;
      right: -180px;
    }
    to {
      opacity: 1; 
      right: 0;
    }
  } 
}
.closePage { //显示
  animation: closePage 1s ease; 
  animation-fill-mode: forwards;
  @include keyframes(closePage) {
    from {
      opacity: 1;
      right: 0;
    }
    to {
      opacity: 1; 
      right: -180px;
    }
  } 
}
.toggleIcon { //显示
  animation: toggleIcon 1s ease; 
  animation-fill-mode: forwards;
  @include keyframes(toggleIcon) {
    from {
      right: 0;
    }
    to {
      right: 180px;
    }
  } 
}

.curzz {
  display: block;
  animation: curzz 1s ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: paused;
  // transition: all .8s;
  @include keyframes(curzz) {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.3);
    }
  } 
  &:hover {
    animation-play-state: running;
  }
}